@media(hover: hover) and (pointer: fine)
  a
    transition: 0.2s

@media ( max-width:1290px)
  .hero
    &__wrapper
      max-width: 98%

@media ( max-width:1200px)
  .container
    max-width: 960px
  .collection
    &__info
      padding: 10px 10px 54px 10px
      width: 400px
    &__text
      margin: 0 0 30px 0
  .trends
    &__cards
      justify-content: space-around
  .history
    &__block
      width: 360px
      padding-right: 7px
    &__card
      width: 300px
  .newsletter
    &__wrapper
      padding-right: 0
  .footer
    &__wrapper
      padding-right: 0
    &__block
      width: 700px

@media ( max-width:992px  )
  .container
    max-width: 672px
  body
    padding-top: 102px
  .navbar
    &__wrap
      margin-bottom: 20px
    &__mobile
      &-fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__wrapper
      padding: 26px 12px
      &-button
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        height: 18px
        margin-bottom: 2px
      &-line
        margin: 0
        width: 22px
        height: 2px
        background-color: #3A4C66
        border-radius: 50px
    &__menu
      padding: 36px 24px
      display: none
      position: fixed
      top: 10px
      right: 8px
      left: 8px
      height: 322px
      top: 10px
      flex-direction: column
      &-visible
        display: flex
        background-color: $light
    &__close
      display: block
      position: absolute
      top: 16px
      right: 12px
    &__list
      display: flex
      flex-direction: column
      margin: 0
    &__item
      margin: 0 0 20px 0
    &__button
      width: 256px
      text-align: center

  .hero
    &__wrapper
      max-width: 95%
      margin: 0 auto 80px auto
      padding: 35px 0 35px 28px
      background-size: auto
      background-position: 65% 25%
    &__badges
      margin-bottom: 25px
    &__title
      font-size: 48px
      line-height: 60px
      margin: 0 0 19px 0
    &__info
      font-size: 18px
      line-height: 32px
      max-width: 430px
      margin: 0 0 38px 0
    &__button
      margin-bottom: 40px
    &__item
      margin-right: 20px
    &__icon
      margin-right: 8px

  .collection
    &__wrap
      margin-bottom: 78px
    &__wrapper
      flex-wrap: wrap
    &__block
      margin-right: 0px
      margin-bottom: 40px
    &__info
      padding: 0
      width: 100%
      height: 100%

    &__text
      margin: 0 0 22px 0

  .trends
    padding: 0
    &__wrapper
      margin-bottom: 32px
    &__nav
      flex-direction: column
      justify-content: center
      margin-bottom: 54px
      &-title
        margin: 0 0 28px 0
        padding: 0
    &__item
      margin: 0 19px
    &__cards
      justify-content: space-between
      padding: 0 32px
    &__card
      width: 280px
      margin-bottom: 46px
    &__img
      width: 280px
      height: 350px
      object-fit: cover
      margin-bottom: 22px
  .reviews
    &__wrapper
      padding: 0 20px
    &__slider
      max-width: 100%
    &__slide
      margin-bottom: 45px
    &__img
      margin-bottom: 30px
    &__text
      margin: 0 0 28px 0
      padding: 0 10px
      max-height: 210px
      overflow-y: auto
  .history
    &__wrapper
      margin-bottom: 20px
      padding: 75px 0 60px 0
      flex-direction: column
      align-items: center
    &__block
      padding-right: 0
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      margin: 0
      margin-bottom: 35px
    &__title
      margin: 25px 0 15px 0
      text-align: center
    &__text
      max-width: 568px
      text-align: center
      margin-bottom: 35px
    &__buttons
      margin-left: 14px
    &__button
      margin-right: 18px
    &__slider
      width: 680px
    &__card
      width: 332px
  .newsletter
    &__wrapper
      flex-direction: column
      justify-content: space-between
      align-items: center
      padding: 72px 0 80px 0
    &__info
      text-align: center
    &__title
      margin-bottom: 14px
    &__text
      margin-bottom: 55px
  .footer
    &__wrapper
      padding: 65px 20px 60px 11px
    &__logo
      margin-bottom: 24px
    &__info
      max-width: 253px
    &__block
      flex-wrap: wrap
      max-width: 358px
    &__list
      margin-bottom: 25px
    &__item
      margin-bottom: 24px
      &-title
        margin-bottom: 29px

@media (max-width: 710px)
  .history
    &__wrapper
      padding: 50px 0 60px 0
    &__badges
      padding: 2px 12px
    &__block
      width: 95%
      margin: 0
      margin-bottom: 22px
    &__title
      font-size: 28px
      line-height: 36px
      &-hidden
        display: none
    &__text
      font-size: 16px
      line-height: 28px
    &__buttons
      margin: 0 auto
    &__button
      margin: 0 7px
      &-img
        width: 48px
        height: 48px

    &__slider
      width: 94%
      height: 100%
    &__cards
      flex-direction: column
      height: 100%
    &__card
      width: 100%
      height: 430px
    &__img
      width: 97%
      height: 277px

    &__info
      top: 257px
      padding: 20px 32px 20px 18px
      background-color: #FAFDFF
      width: 100%
      &-title
        max-width: 280px
        margin: 0 0 17px 0
        font-weight: 500
        font-size: 20px
        line-height: 24px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 87px
  .navbar
    &__wrapper
      padding: 18px 12px
  .hero
    &__wrapper
      max-width: 100%
      margin: 0 auto 60px auto
      background-image: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url(../img/hero-bg.jpg)
      background-size: fill
      background-position: 80% 0%
      border-radius: 0
      padding: 381px 20px 20px 20px
      text-align: center

    &__badges
      margin-bottom: 22px
      padding: 2px 26px
      width: 196px
    &__title
      font-size: 32px
      line-height: 40px
      margin: 0 0 19px 0
      &-thanks
        font-size: 32px
        line-height: 40px

    &__info
      font-size: 16px
      line-height: 28px
      margin: 0 auto 24px auto
    &__button
      margin: 0 auto 22px auto
      padding: 13px 40px
      font-size: 16px
      line-height: 22px
    &__list
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      margin: 0 -8px 0 -8px
    &__item
      margin: 0 8px 17px 8px
    &__icon
      width: 24px
      height: 24px

  .collection
    &__wrap
      margin-bottom: 112px
    &__block
      flex-basis: 100%
      height: 100%
      flex-direction: row
      margin-bottom: 15px
      &:first-child
        height: 350px
      &-img
        flex-basis: 48%
        height: 150px
    &__img
      width: 100%
      height: 100%
    &__info
      margin-top: 20px
      padding: 0 10px
      text-align: center
    &__title
      font-size: 28px
      line-height: 36px
      margin: 0 0 20px 0
    &__text
      font-size: 16px
      line-height: 28px
      margin: 0
    &__button
      display: none
  .trends
    padding: 0
    &__wrapper
      margin-bottom: 28px
    &__nav
      flex-direction: column
      justify-content: center
      margin-bottom: 35px
      &-title
        font-size: 28px
        line-height: 36px
        margin: 0 0 23px 0
        padding: 0
    &__item
      margin: 0 8px
      font-size: 16px
      line-height: 22px
      &-active
        font-size: 16px
        line-height: 22px
    &__cards
      padding: 0
    &__card
      flex-basis: 48%
      margin-bottom: 17px
      justify-content: start
      &:last-child
        padding: 40px 0 23px 0
        height: 250px
    &__img
      width: 100%
      height: 250px
      margin-bottom: 15px
    &__title
      font-size: 16px
      line-height: 20px
      padding: 0 0 0 2px
      margin-bottom: -2px
      &-plus
        font-size: 17px
        line-height: 20px
    &__price
      font-size: 14px
      line-height: 24px
      margin-right: 9px
      padding: 0 0 0 2px
      margin-top: -3px
    &__icon
      width: 14px
      &-plus
        width: 25px
        height: 32px
        margin-bottom: 15px
  .reviews
    &__wrapper
      padding: 0
      margin-bottom: 50px
    &__img
      margin-bottom: 12px
      width: 70px
      height: 81px
    &__slide
      margin-bottom: 40px
    &__text
      margin: 0 0 25px 0
      overflow-y: scroll
      max-height: 360px
      font-size: 18px
      line-height: 36px
    &__username
      margin: 0 40px
  .history
    &__wrapper
      margin-bottom: -17px
  .newsletter
    &__wrapper
      padding: 64px 0 65px 0
    &__title
      margin-bottom: 24px
      font-size: 28px
      line-height: 36px
    &__text
      margin-bottom: 37px
      font-size: 16px
      line-height: 28px
    &__form
      width: 95%
      height: 100%
      position: relative
      &-icon
        position: absolute
        left: 20px
        top: 18px
        bottom: 18px
    &__input
      position: relative
      width: 100%
      border: none
      padding: 15px 10px 15px 48px
      border-radius: 8px
      overflow: hidden
      margin-bottom: 10px
    &__button
      margin: 0
      right: 0px
      top: 0px
      bottom: 0px
      width: 100%
      position: relative
      border-radius: 8px
  .footer
    &__wrapper
      padding: 65px 20px 60px 20px
      flex-direction: column-reverse
      align-items: center
    &__info
      display: flex
      flex-direction: column
      align-items: center
    &__text
      text-align: center
    &__block
      margin-bottom: 40px

@media (max-width: 410px)
  .navbar
    &__list
      align-self: start
    &__button
      width: 100%
      min-width: 256px
      padding: 8px 22px
  .collection
    &__block
      &:first-child
        height: 300px
      &-img
        height: 97px
  .trends
    &__card
      &:last-child
        height: 170px
    &__img
      height: 170px
  .footer
    &__wrapper
      padding: 45px 20px 60px 20px
    &__logo
      margin-left: 10px
      margin-bottom: 12px
    &__info
      &-list
        margin-left: 12px
    &__text
      font-size: 14px
      line-height: 24px
      margin-bottom: 22px
    &__block
      width: 100%
      align-self: start
      margin-bottom: 35px
    &__list
      flex-basis: 100%
      margin-bottom: 15px
    &__link
      font-size: 14px
      line-height: 20px
    &__item
      margin-bottom: 15px
      &-title
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px

@media only screen and (max-height: 595px)
  .modal

@media only screen and (max-height: 520px)
  .modal
