*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: normal
h1, h2, h3, h4
  font-family: "HK Grotesk"
  font-style: normal
  font-weight: 700
  color: $dark

.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
