.hero
  &__wrapper
    max-width: 1280px
    margin: 0 auto 120px auto
    background-image: url(../img/hero-bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    min-height: 700px
    border-radius: 8px
    padding: 62px 0 46px 107px

  &__badges
    display: inline-block
    width: 175px
    text-decoration: none
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: $green
    padding: 6px 16px
    background-color: rgba(54, 179, 126, 0.1)
    border-radius: 20px
    margin-bottom: 30px

  &__title
    font-size: 56px
    line-height: 68px
    letter-spacing: 0.2px
    margin: 0 0 28px 0
  &__info
    font-size: 20px
    line-height: 36px
    color: $text-color
    margin: 0 0 55px 0
    max-width: 650px
  &__button
    display: block
    width: 259px
    text-decoration: none
    font-weight: 700
    font-size: 18px
    line-height: 25px
    color: $light
    background-color: $dark
    padding: 15px 40px
    border-radius: 8px
    cursor: pointer
    margin-bottom: 50px

  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
  &__item
    font-family: "HK Grotesk"
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.2px
    margin-right: 31px
    display: flex
    align-items: center
  &__icon
    width: 36px
    height: 36px
    margin-right: 9px
