
.reviews
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 67px

  &__slider
    margin: 0 auto
    text-align: center
    max-width: 800px
  &__slide
    width: 100%
    margin-bottom: 65px
  &__img
    width: 80px
    height: 92px
    margin-bottom: 24px
  &__text
    width: 100%
    font-family: HK Grotesk
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 42px
    letter-spacing: 0.133333px
    padding: 0
    margin: 0 0 29px 0
    color: $text-color
    max-height: 210px
    overflow-y: auto
  &__username
    font-weight: bold
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.2px
    padding: 0
    margin: 0

.swiper
  &-pagination
    &-bullet
      margin: 0 8px !important
      width: 5px
      height: 5px
      border-radius: 50%
      &-active
        background-color: $dark
